# Resources:


1.   "Getting Started with Google BigQuery in Colab" Notebook by Google at this [link](https://colab.research.google.com/notebooks/bigquery.ipynb).
2.   Use the [Cloud Resource Manager](https://console.cloud.google.com/cloud-resource-manager) to Create a Cloud Platform project if you do not already have one.
2.   [Enable billing](https://support.google.com/cloud/answer/6293499#enable-billing) for the project.
3.   [Enable BigQuery](https://console.cloud.google.com/flows/enableapi?apiid=bigquery) APIs for the project.

In [1]:
from google.colab import auth
auth.authenticate_user()
print('Authenticated')

Authenticated

## Optional: Enable data table display

Colab includes the ``google.colab.data_table`` package that can be used to display large pandas dataframes as an interactive data table.
It can be enabled with:

In [2]:
%load_ext google.colab.data_table

If you would prefer to return to the classic Pandas dataframe display, you can disable this by running:
```python
%unload_ext google.colab.data_table
```

# Use BigQuery via magics

The `google.cloud.bigquery` library also includes a magic command which runs a query and either displays the result or saves it to a variable as a `DataFrame`.

In [26]:
# Display query output immediately

%%bigquery --project testingbq-337212
SELECT 
  COUNT(*) as total_rows
FROM `bigquery-public-data.samples.gsod`

   total_rows
0   114420316

In [40]:
# Save output in a variable `df`

%%bigquery --project testingbq-337212 df
SELECT 
  COUNT(*) as total_rows
FROM `bigquery-public-data.samples.gsod`

In [41]:
df

   total_rows
0   114420316

# Use BigQuery through google-cloud-bigquery

See [BigQuery documentation](https://cloud.google.com/bigquery/docs) and [library reference documentation](https://googlecloudplatform.github.io/google-cloud-python/latest/bigquery/usage.html).

The [GSOD sample table](https://bigquery.cloud.google.com/table/bigquery-public-data:samples.gsod) contains weather information collected by NOAA, such as precipitation amounts and wind speeds from late 1929 to early 2010.

### Declare the Cloud project ID which will be used throughout this notebook

In [29]:
# You might need to set up your personal project in Google BigQuery and use its ID below:
project_id = 'testingbq-337212'

### Sample approximately 2000 random rows

In [30]:
from google.cloud import bigquery

client = bigquery.Client(project=project_id)

sample_count = 2000
row_count = client.query('''
  SELECT 
    COUNT(*) as total
  FROM `bigquery-public-data.samples.gsod`''').to_dataframe().total[0]

df = client.query('''
  SELECT
    *
  FROM
    `bigquery-public-data.samples.gsod`
  WHERE RAND() < %d/%d
''' % (sample_count, row_count)).to_dataframe()

print('Full dataset has %d rows' % row_count)

Full dataset has 114420316 rows

### Describe the sampled data

In [31]:
df.describe()

Warning: Total number of columns (22) exceeds max_columns (20). Falling back to pandas display.

       station_number   wban_number  ...  total_precipitation  snow_depth
count     2107.000000   2107.000000  ...          1931.000000  106.000000
mean    511918.587091  91240.416706  ...             0.070197    9.794340
std     299620.551401  25165.622099  ...             0.262637   12.703789
min      10015.000000     13.000000  ...             0.000000    0.400000
25%     260380.000000  99999.000000  ...             0.000000    2.000000
50%     543770.000000  99999.000000  ...             0.000000    6.100000
75%     725111.500000  99999.000000  ...             0.010000   11.000000
max     999999.000000  99999.000000  ...             4.090000   93.699997

[8 rows x 22 columns]

### View the first 10 rows

In [32]:
df.head(10)

Warning: Total number of columns (31) exceeds max_columns (20). Falling back to pandas display.

   station_number  wban_number  year  month  ...   snow   hail  thunder  tornado
0          577070        99999  1982     12  ...  False  False    False    False
1          296260        99999  1949      9  ...  False  False    False    False
2          588200        99999  1987      2  ...   True   True     True     True
3          969350        99999  1985     11  ...  False  False    False    False
4           24110        99999  2002      6  ...  False  False    False    False
5          221650        99999  1960      7  ...  False  False    False    False
6          539750        99999  1973      9  ...  False  False    False    False
7           77850        99999  1995      4  ...  False  False    False    False
8          154900        99999  1998      8  ...  False  False    False    False
9          269970        99999  1977      7  ...  False  False    False    False

[10 rows x 31 columns]

In [33]:
# 10 highest total_precipitation samples
df.sort_values('total_precipitation', ascending=False).head(10)[['station_number', 'year', 'month', 'day', 'total_precipitation']]

      station_number  year  month  day  total_precipitation
847           427240  1984      9    2                 4.09
560           228870  1965     11   13                 2.95
1229          355420  1960     10   30                 2.95
1419          470500  1990      8   10                 2.64
651           422600  1990      7   18                 2.64
1767          489200  2003      7   19                 2.56
2055          783880  1975     11   17                 2.48
212           722560  2007      6   18                 2.40
1218          474350  1998      8   28                 2.20
1666          700001  2009      9   17                 2.16

# Use BigQuery through pandas-gbq

The `pandas-gbq` library is a community led project by the pandas community. It covers basic functionality, such as writing a DataFrame to BigQuery and running a query, but as a third-party library it may not handle all BigQuery features or use cases.

[Pandas GBQ Documentation](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_gbq.html)

In [34]:
import pandas as pd

sample_count = 2000
df = pd.io.gbq.read_gbq('''
  SELECT name, SUM(number) as count
  FROM `bigquery-public-data.usa_names.usa_1910_2013`
  WHERE state = 'TX'
  GROUP BY name
  ORDER BY count DESC
  LIMIT 100
''', project_id=project_id, dialect='standard')

df.head()

      name   count
0    James  272793
1     John  235139
2  Michael  225320
3   Robert  220399
4    David  219028

# Syntax highlighting
`google.colab.syntax` can be used to add syntax highlighting to any Python string literals which are used in a query later.

In [35]:
from google.colab import syntax
query = syntax.sql('''
SELECT
  COUNT(*) as total_rows
FROM
  `bigquery-public-data.samples.gsod`
''')

pd.io.gbq.read_gbq(query, project_id=project_id, dialect='standard')

   total_rows
0   114420316

# Example: Access to Public Dataset "Hacker News"

In [55]:
# Let's reference the dataset:
dataset_ref = client.dataset('hacker_news', project='bigquery-public-data')
dataset = client.get_dataset(dataset_ref)

In [56]:
# Listing tables:
tables = list(client.list_tables(dataset))

for table in tables:
  print(table.table_id)

comments
full
full_201510
stories

In [57]:
# Checking the table schema:
table_ref = dataset_ref.table('comments')
table = client.get_table(table_ref)

In [58]:
table.schema

[SchemaField('id', 'INTEGER', 'NULLABLE', 'Unique comment ID', ()),
 SchemaField('by', 'STRING', 'NULLABLE', 'Username of commenter', ()),
 SchemaField('author', 'STRING', 'NULLABLE', 'Username of author', ()),
 SchemaField('time', 'INTEGER', 'NULLABLE', 'Unix time', ()),
 SchemaField('time_ts', 'TIMESTAMP', 'NULLABLE', 'Human readable time in UTC (format: YYYY-MM-DD hh:mm:ss)', ()),
 SchemaField('text', 'STRING', 'NULLABLE', 'Comment text', ()),
 SchemaField('parent', 'INTEGER', 'NULLABLE', 'Parent comment ID', ()),
 SchemaField('deleted', 'BOOLEAN', 'NULLABLE', 'Is deleted?', ()),
 SchemaField('dead', 'BOOLEAN', 'NULLABLE', 'Is dead?', ()),
 SchemaField('ranking', 'INTEGER', 'NULLABLE', 'Comment ranking', ())]

In [59]:
# Show data in a dataframe:
client.list_rows(table, max_results=5).to_dataframe()

         id  by author        time  ...    parent deleted  dead ranking
0   2701393  5l     5l  1309184881  ...   2701243    None  None       0
1   5811403  99     99  1370234048  ...   5804452    None  None       0
2     21623  AF     AF  1178992400  ...     21611    None  None       0
3  10159727  EA     EA  1441206574  ...  10159396    None  None       0
4   2988424  Iv     Iv  1315853580  ...   2988179    None  None       0

[5 rows x 10 columns]

Hacker News sends awards to those, who wrote more than 10000 posts. Let's find authors with more than 10000 posts (we will call the column with post counts as "NumPosts"):

In [62]:
prolific_commenters_query = '''
                            SELECT author, COUNT(1) as NumPosts
                            FROM `bigquery-public-data.hacker_news.comments`
                            GROUP BY author
                            HAVING COUNT(1)>10000
                            '''

safe_config = bigquery.QueryJobConfig(maximum_bytes_billed=10**10)
query_job = client.query(prolific_commenters_query, job_config=safe_config)

prolific_commenters = query_job.to_dataframe()
print(prolific_commenters.head())

    author  NumPosts
0    DanBC     12902
1    sp332     10882
2   davidw     10764
3  rayiner     11080
4  tptacek     33839

# Example: Access to Public Dataset "World Bank International Education"

In [50]:
dataset_ref = client.dataset('world_bank_intl_education', project='bigquery-public-data')
dataset = client.get_dataset(dataset_ref)

In [51]:
tables = list (client.list_tables(dataset))

for table in tables:
  print(table.table_id)

country_series_definitions
country_summary
international_education
series_summary

In [52]:
table_ref = dataset_ref.table('international_education')
table = client.get_table(table_ref)

table.schema

[SchemaField('country_name', 'STRING', 'NULLABLE', '', ()),
 SchemaField('country_code', 'STRING', 'NULLABLE', '', ()),
 SchemaField('indicator_name', 'STRING', 'NULLABLE', '', ()),
 SchemaField('indicator_code', 'STRING', 'NULLABLE', '', ()),
 SchemaField('value', 'FLOAT', 'NULLABLE', '', ()),
 SchemaField('year', 'INTEGER', 'NULLABLE', '', ())]

In [53]:
# show data as a dataframe
client.list_rows(table, max_results=10).to_dataframe()

                     country_name country_code  ...         value  year
0  St. Vincent and the Grenadines          VCT  ...  1.700000e+01  2016
1                        Suriname          SUR  ...  3.167325e+09  2016
2                        Suriname          SUR  ...  3.000000e+00  2016
3                      Tajikistan          TJK  ...  8.458801e+09  2016
4                      Tajikistan          TJK  ...  3.000000e+00  2016
5                      Tajikistan          TJK  ...  1.871570e+05  2016
6                Marshall Islands          MHL  ...  1.445000e+03  2016
7                      Mauritania          MRT  ...  8.632620e+00  2016
8           Micronesia, Fed. Sts.          FSM  ...  2.962826e+08  2016
9           Micronesia, Fed. Sts.          FSM  ...  2.823434e+03  2016

[10 rows x 6 columns]

Which countries spent the largest fraction of GDP on education for the years 2010 - 2017?

Let's use indicator_code SE:XPD.TOTL.GD.ZS, which shows 'Government expenditure on education a % of GDP'.

In [54]:
country_spend_pct_query = '''
                            SELECT country_name, AVG(value) AS avg_ed_spending_pct
                            FROM `bigquery-public-data.world_bank_intl_education.international_education`
                            WHERE indicator_code = 'SE.XPD.TOTL.GD.ZS' AND
                            year BETWEEN 2010 AND 2017
                            GROUP BY country_name
                            ORDER BY AVG(value) DESC
                            '''
safe_config = bigquery.QueryJobConfig(maximum_bytes_billed = 10**10)
country_spend_pct_query_job = client.query(country_spend_pct_query, job_config=safe_config)
country_spending_results = country_spend_pct_query_job.to_dataframe()
print(country_spending_results.head())

            country_name  avg_ed_spending_pct
0                   Cuba            12.837270
1  Micronesia, Fed. Sts.            12.467750
2        Solomon Islands            10.001080
3                Moldova             8.372153
4                Namibia             8.349610

# Example: Access to Public Dataset "Openaq"

In [63]:
dataset_ref = client.dataset('openaq', project='bigquery-public-data')
dataset = client.get_dataset(dataset_ref)

In [64]:
tables = list (client.list_tables(dataset))

for table in tables:
  print(table.table_id)

global_air_quality

In [65]:
table_ref = dataset_ref.table('global_air_quality')
table = client.get_table(table_ref)

table.schema

[SchemaField('location', 'STRING', 'NULLABLE', 'Location where data was measured', ()),
 SchemaField('city', 'STRING', 'NULLABLE', 'City containing location', ()),
 SchemaField('country', 'STRING', 'NULLABLE', 'Country containing measurement in 2 letter ISO code', ()),
 SchemaField('pollutant', 'STRING', 'NULLABLE', 'Name of the Pollutant being measured. Allowed values: PM25, PM10, SO2, NO2, O3, CO, BC', ()),
 SchemaField('value', 'FLOAT', 'NULLABLE', 'Latest measured value for the pollutant', ()),
 SchemaField('timestamp', 'TIMESTAMP', 'NULLABLE', 'The datetime at which the pollutant was measured, in ISO 8601 format', ()),
 SchemaField('unit', 'STRING', 'NULLABLE', 'The unit the value was measured in coded by UCUM Code', ()),
 SchemaField('source_name', 'STRING', 'NULLABLE', 'Name of the source of the data', ()),
 SchemaField('latitude', 'FLOAT', 'NULLABLE', 'Latitude in decimal degrees. Precision >3 decimal points.', ()),
 SchemaField('longitude', 'FLOAT', 'NULLABLE', 'Longitude in decimal degrees. Precision >3 decimal points.', ()),
 SchemaField('averaged_over_in_hours', 'FLOAT', 'NULLABLE', 'The number of hours the value was averaged over.', ())]

In [87]:
# show data as a dataframe
client.list_rows(table, max_results=10).to_dataframe()

                                   location  ... averaged_over_in_hours
0             BTM Layout, Bengaluru - KSPCB  ...                   0.25
1             BTM Layout, Bengaluru - KSPCB  ...                   0.25
2             BTM Layout, Bengaluru - KSPCB  ...                   0.25
3             BTM Layout, Bengaluru - KSPCB  ...                   0.25
4             BTM Layout, Bengaluru - KSPCB  ...                   0.25
5  BWSSB Kadabesanahalli, Bengaluru - KSPCB  ...                   0.25
6  BWSSB Kadabesanahalli, Bengaluru - KSPCB  ...                   0.25
7                     BWSSB Kadabesanahalli  ...                   0.25
8  BWSSB Kadabesanahalli, Bengaluru - KSPCB  ...                   0.25
9  BWSSB Kadabesanahalli, Bengaluru - KSPCB  ...                   0.25

[10 rows x 11 columns]

Which countries reported pollution in units "ppm"?

In [71]:
country_pollution_query= '''
                            SELECT country,
                            FROM `bigquery-public-data.openaq.global_air_quality`
                            WHERE unit = 'ppm' 
                            '''
safe_config = bigquery.QueryJobConfig(maximum_bytes_billed = 10**10)
country_pollution_query_job = client.query(country_pollution_query, job_config=safe_config)
country_pollution_results = country_pollution_query_job.to_dataframe()
print(country_pollution_results.head())

  country
0      US
1      US
2      US
3      US
4      US

Which pollution levels were reported as 0?

In [77]:
zero_pollution_query = '''
                          SELECT location, country, city, value, unit
                          FROM `bigquery-public-data.openaq.global_air_quality`
                          WHERE value=0
                          LIMIT 10
                          '''
safe_config = bigquery.QueryJobConfig(maximum_bytes_billed = 10**10)
zero_pollution_query_job = client.query(zero_pollution_query, job_config=safe_config)
zero_pollution_results = zero_pollution_query_job.to_dataframe()
print(zero_pollution_results.head())

                                        location country     city  value   unit
0                     Victoria Memorial - WBSPCB      IN  Kolkata    0.0  g/m
1  Rabindra Bharati University, Kolkata - WBSPCB      IN  Kolkata    0.0  g/m
2                   Zamo ul. Hrubieszowska 69A      PL   Zamo    0.0  g/m
3                               Koskie, MOBILNA      PL  Koskie    0.0  g/m
4                               Koskie, MOBILNA      PL  Koskie    0.0  g/m

What are the cities with the highest pollution values?

In [122]:
max_pollution_query = '''
                          SELECT 
                            city, unit, MAX(value) AS pollution_value
                          FROM `bigquery-public-data.openaq.global_air_quality`
                          GROUP BY city, unit
                          ORDER BY pollution_value DESC
                          LIMIT 5
                          '''
safe_config = bigquery.QueryJobConfig(maximum_bytes_billed = 10**10)
max_pollution_query_job = client.query(max_pollution_query, job_config=safe_config)
max_pollution_results = max_pollution_query_job.to_dataframe()
print(max_pollution_results.head())

           city   unit  pollution_value
0  Escuela E-10  g/m         825736.0
1         Satna  g/m          80000.0
2        Toledo  g/m          50000.0
3         Delhi  g/m          50000.0
4       Granada  g/m          35122.0

In [123]:
# filter aggregated pollution_value with HAVING clause
max_pollution_query_2 = '''
                          SELECT 
                            country, city, unit, MAX(value) AS pollution_value
                          FROM `bigquery-public-data.openaq.global_air_quality`
                          GROUP BY country, city, unit
                          HAVING pollution_value > 50000
                          ORDER BY pollution_value DESC
                          LIMIT 5
                          '''
safe_config = bigquery.QueryJobConfig(maximum_bytes_billed = 10**10)
max_pollution_query_job = client.query(max_pollution_query_2, job_config=safe_config)
max_pollution_results = max_pollution_query_job.to_dataframe()
print(max_pollution_results.head())

  country          city   unit  pollution_value
0      CL  Escuela E-10  g/m         825736.0
1      IN         Satna  g/m          80000.0